{% extends 'index_app/base.html' %}
{% load static %}

{% block title %}
{% endblock %}
    
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    404 - not found
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
{% endblock %}