{% extends 'index_app/base.html' %}
{% load static %}

{% block title %}
{% endblock %}
    
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>{{ good }}</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index:home' %}">Домой</a>
                        {% if good.category %}
                        <a href="{% url 'index:category' good.category.id %}">{{ good.category.name }}</a>
                        {% endif %}
                        <span>{{ good }}</span>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        {% if good.image1 %}
                        <img class="product__details__pic__item--large"
                            src="{{ good.image1.url }}" alt="">
                        {% else %}
                        <img class="product__details__pic__item--large"
                            src="{% static "img/product/details/product-details.jpg" %}" alt="">
                        {% endif %}
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        {% if good.image1 %}
                        <img data-imgbigurl="{{ good.image1.url }}"
                            src="{{ good.image1.url }}" alt="">
                        {% else %}
                        <img data-imgbigurl="{% static "img/product/details/product-details.jpg" %}"
                            src="{% static "img/product/details/thumb.jpg" %}" alt="">
                        {% endif %}

                        {% if good.image2 %}
                        <img data-imgbigurl="{{ good.image2.url }}"
                            src="{{ good.image2.url }}" alt="">
                        {% else %}
                        <img data-imgbigurl="{% static "img/product/details/product-details.jpg" %}"
                            src="{% static "img/product/details/thumb.jpg" %}" alt="">
                        {% endif %}

                        {% if good.image3 %}
                        <img data-imgbigurl="{{ good.image3.url }}"
                            src="{{ good.image3.url }}" alt="">
                        {% else %}
                        <img data-imgbigurl="{% static "img/product/details/product-details.jpg" %}"
                            src="{% static "img/product/details/thumb.jpg" %}" alt="">
                        {% endif %}

                        {% if good.image4 %}
                        <img data-imgbigurl="{{ good.image4.url }}"
                            src="{{ good.image4.url }}" alt="">
                        {% else %}
                        <img data-imgbigurl="{% static "img/product/details/product-details.jpg" %}"
                            src="{% static "img/product/details/thumb.jpg" %}" alt="">
                        {% endif %}                                             
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{ good }}</h3>                    
                    <p>{{ good.description }}</p>
                    {% if good.price %}
                    <h4>Цена: {{ good.price }} руб.</h4>
                    {% else %}
                    <h4>Цена: уточняйте у менеджера</h4>
                    {% endif %}
                    <ul>
                        {% for item in good.properties.all %}
                            <li>
                                <b>{{ item.property }}</b> <span>{{ item.value }} {% if item.okei %} ({{ item.okei }}) {% endif %}</span></li>
                        {% endfor %}
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
{% endblock %}