{% extends 'index_app/base.html' %}
{% load static %}

{% block title %}
{% endblock %}
    
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Vegetable’s Package</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index:home' %}">Домой</a>
                        {% if good.category %}
                        <a href="{% url 'index:category' good.category.id %}">{{ good.category.name }}</a>
                        {% endif %}
                        <span>{{ good }}</span>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="{% static "img/product/details/product-details-1.jpg" %}" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="{% static "img/product/details/product-details-2.jpg" %}"
                            src="{% static "img/product/details/thumb-1.jpg" %}" alt="">
                        <img data-imgbigurl="{% static "img/product/details/product-details-3.jpg" %}"
                            src="{% static "img/product/details/thumb-2.jpg" %}" alt="">
                        <img data-imgbigurl="{% static "img/product/details/product-details-5.jpg" %}"
                            src="{% static "img/product/details/thumb-3.jpg" %}" alt="">
                        <img data-imgbigurl="{% static "img/product/details/product-details-4.jpg" %}"
                            src="{% static "img/product/details/thumb-4.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{ good }}</h3>                    
                    <p>{{ good.description }}</p>
                    <ul>
                        <li><b>Доступно</b> <span>In Stock</span></li>
                        <li><b>Доставка</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Вес</b> <span>0.5 kg</span></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
{% endblock %}