    {% extends 'baseapp/index.html' %}


    {% load static %}

    {% block body %}
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{% url 'show_catalog' %}" class="breadcrumb__item-link">Каталог</a>
                        </li>
                        {% if parent %}
                        {% if parent.parent %}
                        <li class="breadcrumb__item breadcrumb__item--parent">
                            <a href="{% if parent.parent.slug %}{% url 'show_list' slug=parent.parent.slug %}{% endif %}" class="breadcrumb__item-link">{{ parent.parent }}</a>
                        </li>
                        {% endif %}
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">{{ parent }}</span>
                        </li>
                        {% endif %}

                        <li class="breadcrumb__title-safe-area" role="presentation"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">
                    Корзина
                </h1>
            </div>
        </div>
    </div>

    <div class="block block-split block-split--has-sidebar">
        <div class="container">
            <div class="block-split__row row no-gutters">
                <div class="block-split__item block-split__item-sidebar col-auto">
                    <div class="card widget widget-categories-list">
                        <div class="widget-categories-list__body" data-collapse data-collapse-opened-class="widget-categories-list--open">
                            <ul class="widget-categories-list__root">

                                <li class="widget-categories-list__root-item" data-collapse-item>
                                    <a href="{% if parent.slug %}{% url 'show_list' slug=parent.slug %}{% endif %}" class="widget-categories-list__root-link">
                                        {% if parent %}
                                        {{ parent }}
                                        {% else %}
                                        Категории
                                        {% endif %}
                                    </a>
                                    <ul class="widget-categories-list__child">
                                        {% for category in childs %}
                                        <li class="widget-categories-list__child-item">
                                            <a href="{% if category.slug %}{% url 'show_list' slug=category.slug %}{% endif %}" class="widget-categories-list__child-link">{{ category }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="block-split__item block-split__item-content col-auto">
                    <div class="block">
                        <div class="categories-list categories-list--layout--columns-3-sidebar">





                            <!-- Правая часть -->
                            <div class="block">
                                <div class="container container--max--xl">
                                    <div class="wishlist">
                                        <table class="wishlist__table">
                                            <thead class="wishlist__head">
                                                <tr class="wishlist__row wishlist__row--head">
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--image">Изображение</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--product">Товар</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--stock">Остаток</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price">Количество</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price">Цена</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price">Сумма</th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--button"><div class="order-header__actions">
                                        <a href="{% url 'clear_cart' %}" class="btn btn-xs btn-secondary">Очистить</a>
                                    </div></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--remove"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="wishlist__body">
                                                {% for item in cart.items %}
                                                <tr class="wishlist__row wishlist__row--body">

                                                    <form method="post" action="{% url 'add_to_order' slug=item.good.slug %}">
                                                        {% csrf_token %}
                                                        <td class="wishlist__column wishlist__column--body wishlist__column--image">
                                                            <div class="image image--type--product">
                                                                <a href="{% url 'show_item' slug=item.good.slug %}" class="image__body">
                                                                    {% if item.picture %}
                                                                    <img class="image__tag" src="{{ item.picture.image.url }}" alt="">
                                                                    {% else %}
                                                                    <img class="image__tag" src="{% static 'images/products/product-1-160x160.jpg' %}" alt="">
                                                                    {% endif %}

                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="wishlist__column wishlist__column--body wishlist__column--product">
                                                            <div class="wishlist__product-name">
                                                                <div>
                                                                    <div class="product-card__badges">
                                                                       {% if item.good.is_sale %}                                                                 
                                                                       <div class="tag-badge tag-badge--sale">sale</div>
                                                                       {% endif %}
                                                                       {% if item.good.is_new %}
                                                                       <div class="tag-badge tag-badge--new">new</div>
                                                                       {% endif %}
                                                                       {% if item.good.is_hot %}
                                                                       <div class="tag-badge tag-badge--hot">hot</div>
                                                                       {% endif %}
                                                                   </div>
                                                                   <a href="{% url 'show_item' slug=item.good.slug %}">{{ item.good.name }}</a>
                                                               </div>
                                                           </div>
                                                           <div class="wishlist__product-rating">
                                                            <div class="wishlist__product-rating-stars">
                                                                <div class="rating">
                                                                    <div class="rating__body">
                                                                        {% if item.rating.rating == 0 %}
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        {% elif item.rating.rating == 1 %}
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        {% elif item.rating.rating == 2 %}
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        {% elif item.rating.rating == 3 %}
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star"></div>
                                                                        <div class="rating__star"></div>
                                                                        {% elif item.rating.rating == 4 %}
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star"></div>
                                                                        {% elif item.rating.rating == 5 %}
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        <div class="rating__star rating__star--active"></div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wishlist__product-rating-title">{{ item.rating.reviews_count }} отзывов</div>
                                                        </div>
                                                    </td>
                                                    <td class="wishlist__column wishlist__column--body wishlist__column--stock">
                                                        <div class="status-badge status-badge--style--success status-badge--has-text">
                                                            <div class="status-badge__body">
                                                                <div class="status-badge__text">{{ item.good.quant }}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="wishlist__column wishlist__column--body wishlist__column--price">
                                                        <div class="input-number">
                                                            <input class="input-number__input form-control form-control-lg" type="number" name="quant" min="1" value="{{ item.quant }}">
                                                            <div class="input-number__add"></div>
                                                            <div class="input-number__sub"></div>
                                                        </div>
                                                    </td>
                                                    <td class="wishlist__column wishlist__column--body wishlist__column--price">
                                                        <div class="form-group">    
                                                            <input id="signup-price" type="text" name="price" class="form-control" placeholder="Цена" value="{{ item.price }}" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="wishlist__column wishlist__column--body wishlist__column--price">
                                                        <div class="form-group">    
                                                            <input id="signup-sum" type="text" name="sum" class="form-control" placeholder="Сумма" value="{{ item.sum }}" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="wishlist__column wishlist__column--body wishlist__column--button">


                                                        <button type="submit" class="btn btn-sm btn-primary">В заказ</button>
                                                    </form>                                                        
                                                </td>                                               
                                                <td class="wishlist__column wishlist__column--body wishlist__column--remove">
                                                    <form method="post" action="{% url 'del_from_cart' slug=item.good.slug %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="wishlist__remove btn btn-sm btn-muted btn-icon">
                                                            <svg width="12" height="12">
                                                                <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
                                                                c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
                                                                C11.2,9.8,11.2,10.4,10.8,10.8z" />
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <thead class="wishlist__head">
                                                <tr class="wishlist__row wishlist__row--head">
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--image"></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--product"></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--stock"></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price"></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price"></th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--price">
                                                        
                                                    </th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--button">
                                                        <div class="order-header__actions">
                                        <a href="{% url 'clear_cart' %}" class="btn btn-xs btn-secondary">Очистить</a>
                                    </div>
                                                    </th>
                                                    <th class="wishlist__column wishlist__column--head wishlist__column--remove"></th>
                                                </tr>
                                            </thead>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!-- Конец правой части -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="block-space block-space--layout--before-footer"></div>
{% endblock %}

