{% extends 'baseapp/index.html' %}


{% load static %}

{% block body %}
<div class="block-header block-header--has-breadcrumb block-header--has-title">
    <div class="container">
        <div class="block-header__body">
            <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb__list">
                    <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                    <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                        <a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                        <span class="breadcrumb__item-link">Корзина</span>
                    </li>
                    <li class="breadcrumb__title-safe-area" role="presentation"></li>
                </ol>
            </nav>
            <h1 class="block-header__title" align="center">
                Корзина
            </h1>
        </div>
    </div>
</div>

{% if cart.get_items %}

<div class="block">
    <div class="container">
        <div class="cart">
            <div class="cart__table cart-table">
                <table class="cart-table__table">
                    <thead class="cart-table__head">
                        <tr class="cart-table__row">
                            <th class="cart-table__column cart-table__column--image">Изображение</th>
                            <th class="cart-table__column cart-table__column--product">Товар</th>
                            <th class="cart-table__column cart-table__column--price">Цена</th>
                            <th class="cart-table__column cart-table__column--quantity">Количество</th>
                            <th class="cart-table__column cart-table__column--total">Сумма</th>
                            <th class="cart-table__column cart-table__column--remove"></th>
                        </tr>
                    </thead>
                    <tbody class="cart-table__body">
                        {% for item in cart.get_items %}
                        <tr class="cart-table__row">
                            <td class="cart-table__column cart-table__column--image">
                                <div class="image image--type--product">
                                    <a href="{% url 'show_item' slug=item.good.slug %}" class="image__body">
                                        {% if item.good.get_main_picture %}
                                        <img class="image__tag" src="{{ item.good.get_main_picture.image.url }}" alt="">
                                        {% else %}
                                        <img class="image__tag" src="{% static 'images/products/product-1-160x160.jpg' %}" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                            </td>
                            <td class="cart-table__column cart-table__column--product">
                                <a href="{% url 'show_item' slug=item.good.slug %}" class="cart-table__product-name">{{ item.good.name }}</a>
                            </td>
                            <td class="cart-table__column cart-table__column--price" data-title="Цена">{{ item.good.price }}</td>
                            <td class="cart-table__column cart-table__column--quantity" data-title="Количество">
                                <div class="cart-table__quantity input-number">
                                    <input class="form-control input-number__input" type="number" min="1" value="{{ item.quant }}">
                                    <a href="{% url 'add_to_cart' slug=item.good.slug %}"><div class="input-number__add"></div></a>
                                    <a href="{% url 'decrease_from_cart' slug=item.good.slug %}"><div class="input-number__sub"></div></a>
                                </div>
                            </td>
                            <td class="cart-table__column cart-table__column--total" data-title="Сумма">{{ item.get_amount }}</td>
                            <td class="cart-table__column cart-table__column--remove">
                               <a href="{% url 'del_from_cart' slug=item.good.slug %}">
                                    <button type="button" class="cart-table__remove btn btn-sm btn-icon btn-muted">
                                        <svg width="12" height="12">
                                            <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
                                            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
                                            C11.2,9.8,11.2,10.4,10.8,10.8z" />
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="cart__totals">
                <div class="card">
                    <div class="card-body card-body--padding--2">
                        <h3 class="card-title">Итого</h3>
                        <table class="cart__totals-table">
                            <tfoot>
                                <tr>
                                    <th style="padding-top: 0px; border-top: none;">Сумма:</th>
                                    <td style="padding-top: 0px; border-top: none;">{{ cart.get_amount }}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <a class="btn btn-primary btn-xl btn-block" href="{% url 'cart_checkout' %}">
                            Перейти к оформлению
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% else  %}
<div class="block-header">
    <div class="container">
        <div class="block-header__body">
            <h4 align="center">
                К сожалению в корзине пока нет товаров.
            </h4>

        </div>
        <div align="center">
            <a href="{% url 'show_catalog' %}"><button class="btn btn-primary btn-lg">В каталог</button></a>
        </div>
    </div>
</div>
{% endif %}



<div class="block-space block-space--layout--before-footer"></div>
{% endblock %}

