{% extends 'baseapp/index.html' %}


{% load static %}


<!-- Мегаменю -->
{% block body %}

<!-- site__body -->
<div class="site__body">
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="row">

                <div class="col-md-6 d-flex mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-0 ml-0 ml-lg-3 mr-0 mr-lg-4">
                        <div class="card-body card-body--padding--2">
                            <h3 class="card-title">Ошибка создания учетной записи. Возможно, учетная запись с такими данными уже существует или пароль и его подтверждение не совпадают.</h3>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
<!-- site__body / end -->

{% endblock %}
