    {% extends 'baseapp/index.html' %}


    {% load static %}

    {% block body %}

    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">Заказ #{{ order.id }}</span>
                        </li>
                        <li class="breadcrumb__title-safe-area" role="presentation"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">
                    Заказ #{{ order.id }}
                </h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">Личный кабинет</h4>
                        <ul class="account-nav__list">
                            <li class="account-nav__item ">
                                <a href="{% url 'account_show' %}">Профиль</a>
                            </li>
                            <li class="account-nav__item">
                                <a href="{% url 'show_orders' %}">История заказов</a>
                            </li>
                            <li class="account-nav__divider" role="presentation"></li>
                            <li class="account-nav__item ">
                                <a href="{% url 'account_logout' %}">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="order-header">
                            <div class="order-header__actions">
                                <a href="{% url 'show_orders' %}" class="btn btn-xs btn-secondary">Все заказы</a>
                            </div>
                            <h5 class="order-header__title">Заказ #{{ order.id }}</h5>
                            <div class="order-header__subtitle">
                                Размещен <mark>{{ order.date }}</mark>
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Товар</th>
                                            <th>Сумма</th>
                                        </tr>
                                    </thead>
                                    <tbody class="card-table__body card-table__body--merge-rows">
                                        {% for item in order.get_items %}
                                        <tr>
                                            <td>{{ item.good.name }} × {{ item.good.quant }}</td>
                                            <td>{{ item.total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Итого</th>
                                            <td>{{ order.total }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 no-gutters mx-n2">
                        <div class="col-sm-6 col-12 px-2">
                           <div class="card address-card address-card--featured">
                            <div class="address-card__badge tag-badge tag-badge--theme">
                                Информация о заказе
                            </div>
                            <div class="address-card__body">
                                <div class="address-card__name">{{ order.first_name }} {{ order.last_name }}</div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Тип доставки</div>
                                    {% if order.delivery_type == 'DL' %}
                                    <div class="address-card__row-content">Доставка до адреса</div>
                                    {% elif order.delivery_type == 'SL' %}
                                    <div class="address-card__row-content">Самовывоз</div>
                                    {% endif %}
                                </div>
                                {% if order.delivery_type == 'DL' %}
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Адрес доставки</div>
                                    {% if  order.zipcode %}{{ order.zipcode }}{% endif %}
                                    {% if  order.locality %}, {{ order.locality }} г.{% endif %}
                                    {% if  order.street %}, {{ order.street }} ул.{% endif %}
                                    {% if  order.house %}, д. {{ order.house }}{% endif %}
                                    {% if  order.apartments %}, кв/оф {{ order.apartments }}{% endif %}
                                    {% if  order.porch %}, подъезд {{ order.porch }}{% endif %}
                                    {% if  order.floor %}, этаж {{ order.floor }}{% endif %}
                                </div>
                                {% else %}
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Самовывоз осуществляется по адресу</div>
                                    г. Белгород, ул. Костюкова, д. 1 <br>
                                    Время работы: <br>
                                    Понедельник-Суббота 09:00 - 18:00
                                </div>    
                                {% endif %}
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Контактный телефон</div>
                                    <div class="address-card__row-content">{{ order.phone }}</div>
                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Email</div>
                                    <div class="address-card__row-content">{{ order.email }}</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 px-2">
                        <div class="card address-card address-card--featured">
                            <div class="address-card__badge tag-badge tag-badge--theme">
                                Информация об оплате
                            </div>
                            <div class="address-card__body">
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Форма оплаты</div>
                                    {% if order.payment_form == 'ON' %}
                                    <div class="address-card__row-content">Онлайн</div>
                                    {% elif order.payment_form == 'BN' %}
                                    <div class="address-card__row-content">Безналичная (Счет для Юр. лица)</div>
                                    {% elif order.payment_form == 'NL' %}
                                    <div class="address-card__row-content">Наличными при получении</div>
                                    {% endif %}

                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Статус оплаты</div>
                                    {% if order.payment_status == 'NP' %}
                                    <div class="address-card__row-content">Ожидает оплаты</div>
                                    {% elif order.payment_status == 'PP' %}
                                    <div class="address-card__row-content">Оплачен частично</div>
                                    {% elif order.payment_status == 'AP' %}
                                    <div class="address-card__row-content">Оплачен полностью</div>
                                    {% endif %}
                                </div>
                                {% if order.company_name or order.company_inn %}
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Реквизиты Юр. лица</div>
                                    {% if order.company_name %}
                                    <div class="address-card__row-content">Наименование компании - {{  order.company_name }}</div>
                                    {% endif %}
                                    {% if order.company_inn %}
                                    <div class="address-card__row-content">ИНН - {{  order.company_inn }}</div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>                  
        </div>
    </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>

{% endblock %}

