{% extends 'baseapp/index.html' %}

{% load static %}


{% load i18n %}


{% block body %}

<div class="block-header block-header--has-breadcrumb block-header--has-title">
	<div class="container">
		<div class="block-header__body">
			<nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
				<ol class="breadcrumb__list">
					<li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
					<li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
						<a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
					</li>
					<li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
						<span class="breadcrumb__item-link">Подтвердите Email</span>
					</li>
					<li class="breadcrumb__title-safe-area" role="presentation"></li>
				</ol>
			</nav>

		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="block-header__title" align="center">
					Подтвердите свой E-mail адрес
				</h1>
				{% if confirmation %}
					<p align="center">Пожалуйста подтвердите, что <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> это адрес элетронной почты пользователя {{ confirmation.email_address.user }}.</p>

					<form class="row justify-content-center" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
						{% csrf_token %}
						<button class="btn btn-primary btn-lg" type="submit">Подтвердить</button>
					</form>
				{% else %}
					<p align="">Срок действия ссылки для подтверждения элетронной почты истек. Пожалуйста <a href="{% url 'account_signup' %}">отправьте новый запрос на подтверждения e-mail</a>.</p>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="block-space block-space--layout--before-footer"></div>
</div>	

{% endblock %}

{% block magnific_popup %}
{% endblock %}