{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% load i18n %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}

<div class="main-container no-sidebar no-padding">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			Сброс пароля
		</nav>
		<div class="form-authentication text-center">
			<div class="form-register">
				<h3 class="title">Сброс пароля</h3>
				<p>
					Ваш пароль успешно изменен.
				</p>
			</div>
		</div>
		<div class="form-authentication-footer">
		</div>
	</div>
</div>


{% endblock %}

{% block magnific_popup %}
{% endblock %}