{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% load i18n %}

{% block social %}
{% endblock %}


{% block content %}

<div class="main-container no-sidebar">
	<div class="container">
		<div class="form-authentication text-center">
				<div class="form-register">
					<h1>Изменить пароль</h1>

					<form method="post" action="{% url 'account_change_password' %}">
						{% csrf_token %}
						

						{% for error in form.oldpassword.errors %}
						{% if forloop.first %}
						<p  style="color: red">* {{ error|escape }}</p>
						{% endif %}
						{% endfor %}
						<p>
						<input type="password" name="oldpassword" placeholder="Текущий пароль" required id="id_oldpassword">
						</p>
						{% for error in form.password1.errors %}
						{% if forloop.first %}
						<p  style="color: red">* {{ error|escape }}</p>
						{% endif %}
						{% endfor %}
						<p>
						<input type="password" name="password1" placeholder="Новый пароль" required id="id_password1">
						</p>
						{% for error in form.password2.errors %}
						{% if forloop.first %}
						<p  style="color: red">* {{ error|escape }}</p>
						{% endif %}
						{% endfor %}
						<p>
						<input type="password" name="password2" placeholder="Новый пароль" required id="id_password2">
						</p>

						<button type="submit">Изменить пароль</button>
					</form>

				</div>
		</div>
		<div class="form-authentication-footer">
		</div>
	</div>
</div>

{% endblock %}

{% block magnific_popup %}
{% endblock %}