{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% load i18n %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}

<div class="main-container no-sidebar no-padding">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			Сброс пароля
		</nav>
		<div class="form-authentication text-center">
			<div class="form-register">
				<h3 class="title">Сброс пароля</h3>

				{% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}

				<p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля. 
				</p>
				<form class="login" method="POST" action="{% url 'account_reset_password' %}">
					{% csrf_token %}

					{% for error in form.non_field_errors %}

					<p  style="color: red">* {{ error|escape }}</p>

					{% endfor %}


					{% for error in form.email.errors %}
		            <p  style="color: red">* {{ error|escape }}</p>
		            {% endfor %}

					<p>
						<input type="email" name="email" placeholder="E-mail адрес" required id="id_email">
					</p>
					
					<button class="button primary" type="submit">Сбросить пароль</button>
				</form>
				<p>
					Свяжитесь с нами, если у вас возникли сложности со сменой пароля.
				</p>
			</div>
		</div>
		<div class="form-authentication-footer">
		</div>
	</div>
</div>


{% endblock %}

{% block magnific_popup %}
{% endblock %}