{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% load i18n %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}

<div class="main-container no-sidebar no-padding">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			Сброс пароля
		</nav>
		<div class="form-authentication text-center">
			<div class="form-register">
				<h3 class="title">{% if token_fail %}Ссылка не действительна{% else %}Изменить пароль{% endif %}</h3>

				{% if token_fail %}
					<p>Ссылка для сброса пароля оказалась недействительной. Пожалуйста, запросите <a href="{% url 'account_reset_password' %}">новый сброс пароля</a>.</p>
				{% else %}
					{% if form %}
						<form method="POST" action="{{ action_url }}">
							{% csrf_token %}

							{{ form.non_field_errors }}

							{% for error in form.password1.errors %}
							{% if forloop.first %}
				            <p  style="color: red">* {{ error|escape }}</p>
				            {% endif %}
				            {% endfor %}

							<p>
								<input type="password" name="password1" placeholder="Новый пароль" required id="id_password1">
							</p>

							{% for error in form.password2.errors %}
							{% if forloop.first %}
				            <p  style="color: red">* {{ error|escape }}</p>
				            {% endif %}
				            {% endfor %}

							<p>
								<input type="password" name="password2" placeholder="Новый пароль (еще раз)" required id="id_password2">
							</p>


							<button type="submit" name="action">Изменить пароль</button> 
						</form>
					{% else %}
						<p>{% trans 'Your password is now changed.' %}</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="form-authentication-footer">
		</div>
	</div>
</div>


{% endblock %}

{% block magnific_popup %}
{% endblock %}