{% extends 'baseapp/index.html' %}

{% load static %}

{% load i18n %}


{% block body %}

<div class="block-header block-header--has-breadcrumb block-header--has-title">
	<div class="container">
		<div class="block-header__body">
			<nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
				<ol class="breadcrumb__list">
					<li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
					<li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
						<a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
					</li>
					<li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
						<span class="breadcrumb__item-link">Регистрация</span>
					</li>
					<li class="breadcrumb__title-safe-area" role="presentation"></li>
				</ol>
			</nav>

		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="block-header__title" align="center">
					Подтвердите свой E-mail адрес
				</h1>

				<p align="center">Мы отправили вам электронное письмо для проверки. Перейдите по ссылке, чтобы завершить процесс регистрации. Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.</p>
			</div>
		</div>
	</div>

	<div class="block-space block-space--layout--before-footer"></div>
</div>	
{% endblock %}
