{% extends 'baseapp/index.html' %}


{% load static %}

{% block body %}
<div class="site__body">
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">О нас</span>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="block post-view">
        <div class="post-view__header post-header post-header--has-image">
            <div class="post-header__image" style="background-image: url('images/posts/post-1-1903x500.jpg');"></div>
            <div class="post-header__body">
                <h1 class="post-header__title">О нас</h1>
            </div>
            <div class="decor post-header__decor decor--type--bottom">
                <div class="decor__body">
                    <div class="decor__start"></div>
                    <div class="decor__end"></div>
                    <div class="decor__center"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="post-view__body">
                <div class="post-view__item post-view__item-post">
                    <div class="post-view__card post">
                        <div class="post__body typography">
                            <p>
                               «ШАГР-Инструмент» - региональная компания с 30-летней историей по продаже профессионального оборудования и запчастей к нему. 
                            </p>
                            <p>
                                Менеджеры компании профессионально подберут любое строительное оборудование как из состава имеющегося, так и на заказ.
                            </p>
                            <p>
                               Мы работаем с  юридическими и физическими лицами, комплектуем крупные предприятия и организации.
                            </p>
                            <p>
                                Являемся диллерами крупнейших производителей: Bosch, Metabo, Stihl, Wortex  и других.
                            </p>
                            <p>
                               За время работы нам удалось создать уникальный сервис по продаже и доставке запчастей по всей России и странам СНГ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
{% endblock %}