<!DOCTYPE html>
<html lang="ru" dir="ltr">

{% load static %}
<head>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86111621, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86111621" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter --> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>shagr.ru</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/photoswipe/default-skin/default-skin.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.header-classic-variant-one.css' %}" media="(min-width: 1200px)">
    <link rel="stylesheet" href="{% static 'css/style.mobile-header-variant-one.css' %}" media="(max-width: 1199px)">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
</head>

<body>   
    <!-- site -->
    <div class="site">

        {% block mobile_header %}
        {% endblock %}

        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}


    </div>
    <!-- site / end -->
{% block mobile_menu %}
{% endblock %}

    <!-- scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendor/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/number.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

