{% extends 'baseapp/index.html' %}


{% load static %}

{% block body %}

<div class="site__body">
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{% url 'show_index' %}" class="breadcrumb__item-link">Главная</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">Наши контакты</span>
                        </li>
                    </ol>
                </nav>
                <h1 class="block-header__title">Наши контакты</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="card contacts">
                <div class="contacts__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A580685766c54af6b5ad4a9a63693ab0fcd6eac0270776810e70e87f808ff8a79&amp;source=constructor" width="100%" height="531" frameborder="0"></iframe>
                </div>
                <div class="card-body card-body--padding--2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <div class="mr-1">
                                <h4 class="contact-us__header card-title">Контактная информация</h4>
                                <div class="contact-us__address">
                                    <p>
                                        308024, г. Белгород, ул. Костюкова, д. 1<br>
                                        Email: web@shagrbel.ru<br>
                                        Телефоны:<br>
                                        <a href="tel:+74722552643" style="color: black;">+7 (4722) 55-26-43</a><br>
                                        <a href="tel:+74722541422" style="color: black;">+7 (4722) 54-14-22</a><br>
                                        <a href="tel:+79194349836" style="color: black;">+7 (919) 434-98-36</a>
                                    </p>
                                    <p>
                                        <strong>Часы работы</strong><br>
                                        Понедельник-Суббота: 09:00 - 18:00<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="ml-1">
                                <h4 class="contact-us__header card-title">Свяжитесь с нами</h4>
                                <form id="contact_form" action="{% url 'send_contact_form' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-name">Имя</label>
                                            <input type="text" name="contactName" id="form-name" class="form-control" placeholder="Ваше Имя">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-email">Телефон</label>
                                            <input required name="contactPhone" type="text" id="form-phone" class="form-control" placeholder="Телефон">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">Сообщение</label>
                                        <textarea name="contactMessage" id="form-message" class="form-control" rows="4"></textarea>
                                    </div>
                                    <button form="contact_form" type="submit" class="btn btn-primary">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
	

{% endblock %}