{% extends 'baseapp/index.html' %}


{% load static %}

{% block body %}
<div class="site__body">
	<div class="block-space block-space--layout--spaceship-ledge-height"></div>
	<div class="block">
		<div class="container">
			<div class="not-found">
				<div class="not-found__content">
					<h1 class="not-found__title">Форма обратной связи успешно отправлена</h1>

					<a class="btn btn-secondary btn-sm" href="{% url 'show_index' %}">На главную</a>
					<a class="btn btn-secondary btn-sm" href="{% url 'show_catalog' %}">Каталог</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-space block-space--layout--before-footer"></div>
</div>
{% endblock %}